
    @font-face{
    font-family:notosanskrmedium;
    src:url("../font/NotoSansCJKkr-Medium.otf");
    }
     *{
    box-sizing: border-box;
    font-family: notosanskrmedium;
    }
    
    .member-table{
    font-family: notosanskrmedium;
    color:#666;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    border:#ccc 1px solid;
    border-radius: 3px;
    }
    .member-table>tbody tr{
        background: #fff;
    }
    .member-table tr{
        text-align: center;
    }
    .member-table a{
        color: #666666;
        text-decoration: none;
    }
    .member-table a:hover{
        color: black;
        text-decoration: none;
    }
    .master-title{
    	text-align: center;
    }
    .master-list::after{
	    content:"";
	    display: block;
	    clear:both;
	}
	.master-list{
	    float:left;
	    width:50%;
	    padding:10px;
	}
	.master-list div{
	    width:100%;
	    text-align:center;
	}
	.master-menu{
            background-color: #565960;
        }
    .master-menu .master-menu-item{
            padding: 1rem;
            float: left;
            width: 20%;
            text-align: center;
        }
        .master-menu .master-menu-item>a{
        	color : #fff;
        	text-decoration: none;
        	
        }
        .master-menu .master-menu-item>a:hover{
        	color : #999999;
        	
        }
        .master-menu::after{
            content:"";
            display: block;
            clear:both;
        }
    div{
        margin:auto;
    }
    .row{
	    margin:10px 0px;
	    text-align: center;
	}
	.row-big{
		margin:50px 0px;
		text-align: center;
	}
    .w-100 {
        width: 100%;
    }

    .w-90 {
        width: 90%
    }

    .w-80 {
        width: 80%
    }

    .w-70 {
        width: 70%
    }

    .w-60 {
        width: 60%
    }

    .w-50 {
        width: 50%
    }

    .w-40 {
        width: 40%
    }

    .w-30 {
        width: 30%
    }

    .w-20 {
        width: 20%
    }

    .w-10 {
        width: 10%
    }
    .couponmember-table{
    font-family: notosanskrmedium;
    color:#666;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    border:#ccc 1px solid;
    border-radius: 3px;
    }
    .couponmember-table>tbody tr{
        background: #fff;
    }
    .couponmember-table>tfoot tr{
        background: #fff;
    }
    .couponmember-table tr{
        text-align: center;
    }
    .couponmember-table a{
        color: #666666;
        text-decoration: none;
        margin-right: 10px;
    }
    .couponmember-table a:hover{
        color: black;
        text-decoration: none;
    }
    .navigator{
    	font-family: notosanskrmedium;
    	color:#666;
    	text-shadow: 1px 1px 0px #fff;
    	background:#fff;
    	border-radius: 3px;
    	text-align: center;
    	margin-right: 10px;
    	margin-left: 10px;
    }
    .navigator a{
    	color:#c0c0c0;
    	text-decoration: none;
    	margin-right: 10px;
    	margin-left: 10px;
    }
    .navigator a:hover{
    	color: black;
    	text-decoration: none;
    }
    .navigator .navigator-choice{
    	color: #666;
    	text-decoration: none;
    }
    .form-choice{
    	border:#ccc 1px solid;
    	border-radius: 3px;
    }
    .form-choice option:hover{
    	background:#666;
    	color:#fff;
    }
    .select-icon{
		width: 200px;
		padding: .8em .5em; 
		font-family: inherit;
		background: url(../image/select_icon.jpg) no-repeat 95% 50%; 
		border: 1px solid #666; 
		-webkit-appearance: none;
		-moz-appearance: none; 
		appearance: none;
		outline:none;
    }
    .select-icon option:hover{
    	background-color:#666;
    }
    .search-input{
    	width: 200px;
    	padding: .8em .5em;
    	font-family: inherit;
    	border: 1px solid #666;
    }
    .button-design{
    	margin:-4px; 
    	border: 1px solid #666; 
    	background-color: #666; 
    	color: #fff; 
    	padding: .8em .5em; 
    	font-family: inherit;
    }
   .button-design button:hover{ 
   	    border: 1px solid #fff;
	    color:#666; 
	    background-color: #fff; 
	}
	.coupon-under-table{
		font-family: notosanskrmedium;
    	color:#666;
    	text-shadow: 1px 1px 0px #fff;
    	background:#eaebec;
    	border:#ccc 1px solid;
    	border-radius: 3px;
	}
	.coupon-under-table td{
		background:#fff;
	}
	.coupon-under-table input{
		outline:none;
		border: 1px solid #fff;
		width:100%;
	}
	.coupon-under-table input#date{
		background:#fff;
		outline:none;
		border: 1px solid #fff;
		width: 130px;
	}	
	.input-button input{
		width:60px;
		background-color: #fff;
	}
	.input-button input:hover{
		color:#666;
	}
	.input-button a{
		text-decoration: none;
	}
	.input-button a#a > input{
		margin:0;
		padding:1px 0px;
	}
	
