@charset "UTF-8";

    * {
 		box-sizing: border-box;
 		background-color: rgba(229, 231, 235, 0);
 	}
 	@font-face{
    	font-family: binggrae;
    	src:url("../font/NotoSansCJKkr-Medium.otf");
	}
	footer{
		background-color: #f6f6f6;
		border-top: 1px solid rgba(34, 50, 84, 0.2);
		font-family: binggrae;
		width: 100%;
	}
	.foot{
		font-family: binggrae;
		background-color: rgba(229, 231, 235, 0);
		display: inline-block;
	}
	.foot-menu{
		font-family: binggrae;
		margin-bottom: 1rem;
		margin-left: 10px;
		background-color: rgba(229, 231, 235, 0.2);
		display: inline-block;
	}
	.foot-logo > img{
		width: 100px;
		background-color: rgba(229, 231, 235, 0);
	}
	.foot-logo{
		height: 10px;
		background-color: rgba(229, 231, 235, 0);	
	}
	.name{
		font-family: binggrae;
 		margin-left: 20px;
		background-color: rgba(229, 231, 235, 0);
		margin-bottom: 10px;
		color: black;
	}
	.foot-menu-right{
		font-family: binggrae;
		display: inline-block;
		margin-left: 10px;
	}
	#main-footer {
    height: 150px;
    border: 1px solid black;
    text-align: center;
}
		



