/* 기본 설정 */
    @font-face{
    font-family:notosanskrmedium;
    src:url("../font/NotoSansCJKkr-Medium.otf");
    }
     *{
    box-sizing: border-box;
    font-family: notosanskrmedium;
    }
    div{
        margin:auto;
    }

    
    
/* width     */
    .w-100 {
        width: 100%;
    }
    .w-90 {
        width: 90%
    }
    .w-80 {
        width: 80%
    }
    .w-70 {
        width: 70%
    }
    .w-60 {
        width: 60%
    }
    .w-50 {
        width: 50%
    }
    .w-40 {
        width: 40%
    }
    .w-30 {
        width: 30%
    }
    .w-20 {
        width: 20%
    }
    .w-10 {
        width: 10%
    }
    
    
/* title */
	.title{
    	text-align: center;
    	margin : 50px 0px;
    	margin-top : 150px;		
	}
	
	
/* 공백 */
    .row{
	    margin:10px 0px;
	    text-align: center;
	}
	.row-big{
		margin:50px 0px;
		text-align: center;
	}