@font-face {
  font-family: "NotoSansCJKkr-Medium";
  src: url("font/NotoSansCJKkr-Medium.otf");
}

* {
  box-sizing: border-box;
  font-family: "NotoSansCJKkr-Medium";
}
/* 경계선 */
#main {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

#home-item1 {
  margin-bottom: 100px;
}

.home-item {
  width: 1200px;
  margin: 0 auto;
}

.popular-title {
  border-top: 1px solid rgba(34, 50, 84, 0.4);
  padding-left: 20px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.popular-title > h2 {
  text-align: left;
  margin-bottom: 0;
}

.list-container {
  float: left;
  width: 33.3333%;
  height: auto;
  padding: 10px;
}

.row {
  content: "";
  display: block;
  clear: both;
}

.item1 {
  text-align: center;
  /* border: 1px solid black; */
}

.contentBox > a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.popular-list {
  width: 100%;
}

.popular-image {
  font-size: 30px;
  font-weight: 900;
  text-align: left;
  padding: 0;
  /* cursor: pointer; */
}

.popular-image > .popular-imageBox > p {
  margin: 0;
  padding: 0;
}

.image-left-top {
  float: left;
  width: 65%;
  height: 500px;
  /* background-image: url("../image/고양이1.jpg"); */
  /* background-size: 100% auto; */
}

.image-right-top {
  float: right;
  width: 34%;
  height: 245px;
  /* background-image: url("../image/고양이1.jpg"); */
  /* background-size: 100% auto; */
}

.image-right-bottom {
  float: right;
  width: 34%;
  height: 245px;
  margin-top: 10px;
  /* background-image: url("../image/고양이1.jpg"); */
  /* background-size: 100% auto; */
}

.popular-image > img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}

.image-title {
  position: absolute;
  left: 30px;
  top: 20px;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

.popular-imageBox:hover {
  position: absolute;
  max-width: 780px;
  height: 500px;
}

.popular-image:hover .darkness {
  opacity: 0.4;
}

.popular-image .darkness {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background: #000000;
  /* 추가된 부분 */
  opacity: 0;
  transition: all 0.6s linear;
  border-radius: 10px;
}

.popular-list > .popular-image__background .popular-image {
  position: relative;
}

.popular-list > .popular-image__background .popular-image .image-title {
  text-shadow: 0 5px 20px rgb(0, 0, 0);
}

.popular-list > .popular-image__background .popular-image .image-title-sub {
  left: auto;
  top: 15px;
  right: 15px;
}

#main-footer {
  height: 300px;
  border: 1px solid black;
  text-align: center;
}

.item3-container {
  height: 600px;
  padding: 0;
  margin-bottom: 100px;
  background-color: rgba(219, 219, 219, 0);
}

.item3__menu,
.item3__imagebox {
  float: left;
  height: 100%;
  margin: 0;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
}

.item3-container > .item3__menu {
  width: 20%;
  cursor: pointer;
}

.item3-container > .item3__imagebox {
  width: 80%;
}

.item3__list {
  height: 33.3333%;
  margin-right: 15px;
}

.item3__menu > .item3__list img {
  height: 100%;
  opacity: 0.4;
}

.item3__menu > .item3__list img.active {
  opacity: 1;
}

.item3__imagebox img {
  height: 100%;
}
