@font-face {
  font-family: "NotoSansCJKkr-Medium";
  src: url("font/NotoSansCJKkr-Medium.otf");
}

* {
  box-sizing: border-box;
  font-family: "NotoSansCJKkr-Medium";
}

.nav-container {
  padding: 0;
  height: 70px;
  /* border: 1px solid black; */
}

.nav-menu {
  width: 100%;
  min-width:1250px;
  top: 0px;
  left: 0;
  position:absolute;
  font-size: 17px;
  padding-bottom: 10px;
  height: 80px;
  background-color: rgba(229, 231, 235, 0);
  margin: 0;
  font-weight: 900;
  /* border: 1px solid black; */
  border-bottom: 1px solid rgba(34, 50, 84, 0.2);
}

.nav-menu:hover {
/*   background-color: rgba(0, 0, 0, 0.1); */
}

.top-bar > .top-bar__logo {
  float: left;
  margin-left: 150px;
  margin-top: 5px;
}

.logo-box > img {
  width: 100px;
  height: auto;
}

.top-bar__logo > .logo-box {
  width: 100px;
  text-decoration: none;
  color: black;
}

.top-bar > .top-bar__menu {
  float: right;
  margin-right: 200px;
}

.top-bar > .top-bar__menu > ul > li {
  list-style-type: none;
  float: left;
  margin: 13px 30px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.top-bar > .top-bar__menu > ul > li > a {
  text-decoration: none;
  color: black;
}

.top-bar > .top-bar__menu > ul > li > a:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  font-size: 115%;
  color: black;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
