@font-face {
  font-family: "NotoSansCJKkr-Medium";
  src: url("font/NotoSansCJKkr-Medium.otf");
}

* {
  box-sizing: border-box;
  font-family: "NotoSansCJKkr-Medium";
}

.top-bar {
  position: absolute;
  width: 100%;
  min-width: 1200px;
  top: 0px;
  font-size: 20px;
  background-color: rgba(229, 231, 235, 0.3);
  color: black;
  padding-bottom: 5px;
  font-weight: 900;
}

.top-bar:hover,
.menu-fixed:hover {
  background-color: rgba(95, 93, 93, 0.2);
}

.menu-fixed {
  position: fixed;
  font-size: 15px;
  padding-bottom: 10px;
  height: 70px;
  background-color: rgba(229, 231, 235, 0.3);
  font-weight: 900;
}

.nav-container {
  padding: 0;
  height: 70px;
  /* border: 1px solid black; */
}

.nav-menu {
  width: 100%;
  top: 0px;
  left: 0;
  position: fixed;
  font-size: 15px;
  padding-bottom: 10px;
  height: 70px;
  background-color: rgba(229, 231, 235, 0.3);
  margin: 0;
  /* border: 1px solid black; */
}

.top-bar > .top-bar__logo {
  float: left;
  margin-left: 150px;
  margin-top: 5px;
}

.top-bar__logo > .logo-box {
  width: 100px;
  text-decoration: none;
  color: black;
  display:inline-block;
}

.logo-box > img {
  width: 100px;
  height: auto;
}

.top-bar > .top-bar__menu {
  float: right;
  margin-right: 200px;
}

.top-bar > .top-bar__menu > ul > li {
  list-style-type: none;
  float: left;
  margin: 7px 30px;
}
.top-bar > .top-bar__menu > ul > li > a {
  text-decoration: none;
  color: black;
}

.top-bar > .top-bar__menu > ul > li > a:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  font-size: 115%;
  color: white;
}

