@font-face {
  font-family: "NotoSansKR-Light";
  src: url("../fonts/NotoSansKR-Light.otf");
}

* {
  box-sizing: border-box;
  font-family: "NotoSansKR-Light";
}

.nav-container {
  padding: 0;
  height: 70px;
  /* border: 1px solid black; */
}

.nav-menu {
  width: 100%;
  top: 0px;
  left: 0;
  position: fixed;
  font-size: 15px;
  padding-bottom: 10px;
  height: 70px;
  background-color: rgba(229, 231, 235, 0.3);
  margin: 0;
  /* border: 1px solid black; */
}

.top-bar > .top-bar__logo {
  float: left;
  margin-left: 150px;
  margin-top: 10px;
}

.top-bar__logo > .logo-box {
  width: 100px;
  text-decoration: none;
  color: black;
}

.top-bar > .top-bar__menu {
  float: right;
  margin-right: 200px;
}

.top-bar > .top-bar__menu > ul > li {
  list-style-type: none;
  float: left;
  margin: 10px 30px;
}
.top-bar > .top-bar__menu > ul > li > a {
  text-decoration: none;
  color: black;
}

.top-bar > .top-bar__menu > ul > li > a:hover {
  background-color: red;
}
