@font-face {
  font-family: "NotoSansKR-Medium";
  src: url("../fonts/NotoSansKR-Medium.otf");
}

* {
  box-sizing: border-box;
  font-family: "NotoSansKR-Medium";
}

.nav-container {
  padding: 0;
  height: 70px;
  /* border: 1px solid black; */
}

.nav-menu {
  width: 100%;
  top: 0px;
  left: 0;
  position: absolute;
  font-size: 15px;
  padding: 10px;
  height: 70px;
  background-color: rgba(229, 231, 235, 0.3);
  margin: auto;
  /* border: 1px solid black; */
}

.menu-bar > .top-bar__logo {
  float: left;
  margin-left : 30px;
}

.top-bar__logo > .logo-box {
  width: 100px;
  text-decoration: none;
  color: black;
}

.menu-bar > .top-bar__menu {
  float: right;
  margin-right: 150px;
  margin-top : 10px;
}

.menu-bar > .top-bar__menu > a{
  text-decoration: none;
  color: #666;
    list-style-type: none;
  float: right;
  margin: 10px 30px;
}

.menu-bar > .top-bar__menu > a:hover {
  color:black;
}
